<?xml version='1.0' encoding='utf-8'?>
<widget id="io.atakansavas.bisesvar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BiSesVar</name>
    <description>
       BiSesVar uygulaması, anlatmak istediğiniz düşünceleri veya hisleri daha eğlenceli bir biçimde ifade edebilmenize olanak sağlar. Uygulamadaki seslerin hiç biri uygulamaya ait değildir. Kaldırılmasını düşündüğünüz sesler için uygulama içinden iletişime geçebilirsiniz.
    </description>
    <author email="a.savas@hotmail.com.tr" href="http://bisesvar.xyz">
       Atakan Savaş
    </author>
    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-device" spec="~1.1.7" />
</widget>
 